*__pycache__*
*.pptx
*dump*
*.DS_Store*
*ttxt*
*~$*
notebook/Feature-Preparationl.ipynb
notebook/multi_objective_bo.ipynb
notebook/MultiObj-BO.ipynb
notebook/bayesian-opt-model.ipynb
notebook/1-multi_objective_bo.ipynb
notebook/BayesOptRunProgress.txt
# *csv # ignore all csv files to avoid uploading private data
hpc/normalized_only/models.ipynb
hpc/normalized_only/sample.py
hpc/normalized_only/streamlit_run.py
